﻿
<div class="userfilling" style="display:none;">
    <div class="userinfo">
        <h1 id="profit">0</h1>
        <h4>总盈利</h4>
    </div>
    <div class="userassets">
        <ul class="tga3">
            <li><span id="income">0</span><p>总收入</p></li>
            <li><span id="outlay">0</span><p>总支出</p></li>
            <li><span id="bili">0</span><p>总拨出比率</p></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>


<div class="datalist" id="BobiDataList" style="display:none;">
    <ul id="BobiItemList"></ul>
</div>


<div class="entryinfo">
    <dl>
        <dt>虚拟会员出售土地总收入</dt>
        <dd style="padding-left:100px">
            <p><span id="xntdzsr"></span>/元</p>
        </dd>
    </dl>
    <dl>
        <dt>虚拟会员买入土地总金额</dt>
        <dd style="padding-left: 100px">
            <p><span id="xntdmrz"></span>/元</p>
        </dd>
    </dl>
    <dl>
        <dt>虚拟会员买入产品总金额</dt>
        <dd style="padding-left: 100px">
            <p><span id="xncpmrz"></span>/元</p>
        </dd>
    </dl>
    <dl>
        <dt> Gns总额度</dt>
        <dd style="padding-left: 100px">
            <p><span id="AllGen"></span>/枚</p>
        </dd>
    </dl>
    <dl>
        <dt>已派送 Gns总数</dt>
        <dd style="padding-left: 100px">
            <p><span id="GenSum"></span>/枚</p>
        </dd>
    </dl>
    <dl>
        <dt>剩余 Gns总数</dt>
        <dd style="padding-left: 100px">
            <p><span id="GenSy"></span>/枚</p>
        </dd>
    </dl>
 </div>
