﻿

<div class="operating" style="display:none;">
    <div class="searchbox">
        <table>
            <tr>
                <td style="width:32%"><input type="text" class="searchtext" style="width:100%;" placeholder="开始日期" id="startTime" /></td>
                <td align="center">至</td>
                <td style="width:32%"><input type="text" class="searchtext" style="width: 100%;" placeholder="结束日期" id="endTime" /></td>
                <td style="width:18%"><button class="operatebtn" id="searchBtn" style="width:100%">搜索</button></td>
                <td style="width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:100%">清除</button></td>
            </tr>
        </table>
    </div>
    <div class="searchdate">
        <dl>
            <dt>是否回购</dt>
            <dd>
                <input type="hidden" id="isHg" />
                <input type="text" class="searchtext" placeholder="是否回购" style="width:98%" id="isHgName" readonly />
            </dd>
        </dl>
    </div>
    <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
</div>

<div class="datalist" id="CpDetaildatalist">
    <ul id="CpDetailitemList"></ul>
</div>



<!--确认提示框-->
<div class="promptbg" style="z-index: 9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont" style="padding:30px; margin-bottom:0; ">
            <input type="hidden" id="id" /><ul>
                <li>
                    <dl><dt>支付方式</dt><dd><input type="text" class="entrytxt" id="payType" readonly placeholder="请选择支付方式" value="微信" /></dd></dl>

                    <dl id="dlbankName" style="display:none;"><dt>开户行</dt><dd><p id="saler_bankName" style="color:black;"></p></dd></dl>
                    <dl id="dlbankCard" style="display:none;"><dt>银行卡号</dt><dd><p style="color:black;" id="saler_bankCard"></p></dd></dl>
                    <dl id="dlbankUser" style="display:none;"><dt>开户名</dt><dd><p style="color:black;" id="saler_bankUser"></p></dd></dl>
                    <dl id="dlbankAddress" style="display:none;"><dt>开户支行</dt><dd><p id="saler_bankAddress" style="color:black;"></p></dd></dl>
                    <dl id="dlImgzfb" style="display:none;"><dd><img id="saler_imgUrlzfb" src="testimg/testb1.jpg" width="300px" /></dd></dl>
                    <dl id="dlImgwx"><dd><img id="saler_imgUrlwx" src="testimg/testb1.jpg" width="300px" /></dd></dl>
                    <dl id="dlImgszhb" style="display:none;"><dd><img id="saler_imgUrlszhb" src="testimg/testb1.jpg" width="300px" /></dd></dl>
                    <dl id="dlpayETH" style="display:none;"><dt>应付ETH</dt><dd><p id="payETH" style="color:black;"></p></dd></dl>
                    <dl id="dlETHaddress" style="display:none;"><dt>ETH钱包地址</dt><dd><p id="saler_ETHaddress" style="color:black;font-size: 8px;width:70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></p></dd></dl>
                    <dl id="dlImgusdt" style="display:none;"><dd><img id="saler_imgUrlusdt" src="testimg/testb1.jpg" width="300px" /></dd></dl>
                    <dl id="dlpayUSDT" style="display:none;"><dt>应付USDT</dt><dd><p id="payUSDT" style="color:black;"></p></dd></dl>
                    <dl id="dlUSDTaddress" style="display:none;"><dt>USDT钱包地址</dt><dd><p id="saler_USDTaddress" style="color:black;font-size: 8px;width:70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></p></dd></dl>

                    <dl><dt>应付金额</dt><dd><p id="payMoney" style="color:red;"></p></dd></dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <div class="uploaddiv">
                                <div class="uploadimg">
                                    <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImg"></span>
                                    <div class="uploadicon"><i class="fa fa-image"></i><br />上传汇款图片</div>
                                    <label class="uploadplug"><input class="fileinput" type="file" id="imgFile" /></label>
                                </div>

                            </div>
                        </dd>
                    </dl>

                </li>
            </ul>


        </div>
        <div class="btnbox" style="padding:30px;display:block;">
            <input type="text" id="copytext" style="cursor: default; width: 10px; height: 1px;" readonly="readonly" value="我的復制內容" />
            <button class="smallbtn" id="sureBtn">充值</button>
        </div>
    </div>
</div>