﻿<div id="lemeinfo">
    <input type="hidden" id="id" name="id" />
    <input type="hidden" id="imgUrl" name="imgUrl" />
    <input type="hidden" id="imgYyzzUrl" name="imgYyzzUrl" />
    <input type="hidden" id="imgSfzzmUrl" name="imgSfzzmUrl" />
    <input type="hidden" id="imgSfzfmUrl" name="imgSfzfmUrl" />
    <div class="entryinfo" id="divzcsj">

        <dl>
            <dt>商家名称</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="name" name="name" placeholder="请输入商家名称" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>联系人</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="linkMan" name="linkMan" placeholder="请输入联系人" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>联系电话</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="linkPhone" name="linkPhone" placeholder="请输入联系电话" maxlength="11" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>省</dt>
            <dd>
                <input type="text" class="entrytxt area" id="province" name="province" readonly placeholder="请选择省" />
            </dd>
        </dl>
        <dl>
            <dt>市</dt>
            <dd>
                <input type="text" class="entrytxt area" id="city" name="city" readonly placeholder="请选择市" />
            </dd>
        </dl>
        <dl>
            <dt>区</dt>
            <dd>
                <input type="text" class="entrytxt area" id="area" name="area" placeholder="请选择区" />
            </dd>
        </dl>
        <dl>
            <dt>详细地址</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="address" name="address" placeholder="请输入详细地址" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>经营范围</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="businessScope" name="businessScope" placeholder="请输入经营范围" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <div class="entryinfotips" style="padding: 1rem;line-height: 1.6;font-size: 1.2rem;">请参照示例拍摄上传图片，图片须 <=2M,确保文字图片清晰可见</div>

        <dl>
            <dt>
                商家头像
            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImg"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上传图片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFile" placeholder="请输入图片" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                营业执照
            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImgYyzz"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上传图片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFileYyzz" placeholder="请输入图片" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                身份证正面
            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImgSfzzm"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上传图片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFileSfzzm" placeholder="请输入图片" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>
                身份证反面
            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImgSfzfm"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上传图片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFileSfzfm" placeholder="请输入图片" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>

        <dl>
            <dt>商家状态</dt>
            <dd>
                <input type="text" class="entrytxt area" id="flag" name="flag" />
            </dd>
        </dl>
        <dl>
            <dt>驳回原因</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="refuseReason" name="refuseReason" placeholder="驳回原因" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <div class="btnbox">
            <div class="btnbox">
                <ul class="tga1">
                    <li><button class="bigbtn" id="saveBtn">保存</button></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .cont {
        font-size: 1.4rem;
        max-width: 100%;
        width: 100%;
        padding: 8px 8px 8px 8px;
        /*overflow-x: hidden;*/
        box-sizing: border-box;
        overflow-y: auto;
        padding-top: 10px;
        background-color: #fff;
    }

        .cont img {
            max-width: 100%;
        }

    .h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: normal;
        margin-bottom: 1rem;
        color: #333;
        padding-left: 8px;
        padding-right: 8px;
    }
</style>
