﻿<div class="contentbox" id="mainDiv">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="id" placeholder="订单号" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>会员编号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员编号" style="width:98%" id="userId" />
                </dd>
            </dl>
            <dl>
                <dt>订单状态</dt>
                <dd>
                    <input type="hidden" id="isStatus" />
                    <input type="text" class="searchtext" placeholder="请选择订单状态" style="width:98%" id="isStatusType" readonly />
                </dd>
            </dl>
            <dl>
                <dt>会员姓名</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员姓名" style="width: 98%" id="userName" />
                </dd>
            </dl>
            <dl>
                <dt>日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>

        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>

    <div class="operation">
        <ul class="tga2">
            <li><label><input class="operationche" type="checkbox" id="checkAllBtn" />全选</label></li>
            <li><button class="seditbtn" id="deliverBtn">发货</button></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist operationlist" id="Orderdatalist">
        <ul id="OrderitemList"></ul>
    </div>
</div>
<div class="contentbox" id="detailOrderDiv" style="display:none;">
    <div class="datalist" id="OrderDetaildatalist" style="padding-bottom:5rem;">
        <ul id="OrderDetailtemList"></ul>
    </div>
    <div class="replybox">
        <ul class="tga1">
            <li style="text-align:center;"><button class="bigbtn" style="width:90%;" id="detailBackBtn">返回</button></li>
        </ul>
    </div>
</div>

<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">确定删除吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>
<div class="promtotal">
    <header>
        <div class="">
            <i class="backicon"></i>
            <i class="dellink hidetotal"><a href="javascript:void(0);" id="closewuliu"><img src="/Content/APP/Admin/images/btnclose.png"></a></i>
            <h2>订单物流</h2>
        </div>
        <div class="clear"></div>
    </header>
    <div class="orderinfo">
        <ul>
            <li><span>收货地址：</span><p id="mshdz">广西南宁市新宁路广西南宁市新宁路广西南宁市新宁路广西南宁市新宁路</p></li>
            <li><span>联系电话：</span><p id="mshdh">15236548547</p></li>
            <li><span>　收货人：</span><p id="mshr">刘安华</p></li>
            <li><span>物流公司：</span><p id="mwlgs">沙发快递</p></li>
            <li><span>运单号码：</span><p><label id="mwldh">2554548542451</label></p></li>
        </ul>
    </div>

    <div class="totalinfo">
        <ul id="LogDetailMsg">
            <!--<li>
                <time>2018/3/15<br>18:10:32</time>
                <span></span>
                <p>物流已发出，下一站地球北半球中国广西南宁，咨询电话<a href="tel:10086">10086</a></p>
            </li>
            <li>
                <time>2018/3/15<br>18:10:32</time>
                <span></span>
                <p>物流已发出，下一站地球北</p>
            </li>
            <li>
                <time>2018/3/15<br>18:10:32</time>
                <span></span>
                <p>物流已发出，下一站地球北</p>
            </li>
            <li>
                <time>2018/3/15<br>18:10:32</time>
                <span></span>
                <p>物流已发出，下一站地球北半球中国广西南宁，咨询电话<a href="tel:10086">10086</a></p>
            </li>
            <li>
                <time>2018/3/15<br>18:10:32</time>
                <span></span>
                <p>物流已发出，下一站地球北</p>
            </li>
            <li>
                <time>2018/3/15<br>18:10:32</time>
                <span></span>
                <p>物流已发出，下一站地球北</p>
            </li>-->
        </ul>

    </div>

</div>


