﻿<div class="entryinfo">
    <div class="bigtitle">
        <h2>登录参数</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            用户连续登录失败&nbsp;<input type="text" id="loginFailTimes" name="loginFailTimes" />&nbsp;次，将锁定&nbsp;
            <input type="text" id="loginLockTime" name="loginLockTime" />&nbsp;分钟
        </div>
    </div>
    <div class="bigtitle">
        <h2>注册参数</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        会员编号前缀&nbsp;<input type="text" id="userIdPrefix" name="userIdPrefix" />&nbsp;&nbsp;
                        手机注册次数&nbsp;<input type="text" id="phoneSetting" name="phoneSetting" />
                    </td>
                </tr>
                <tr>
                    <td>
                        默认登录密码&nbsp;<input type="text" id="loginPass" name="loginPass" />&nbsp;&nbsp;
                        默认安全密码&nbsp;<input type="text" id="passOpen" name="passOpen" />
                    </td>
                </tr>
                <tr>
                    <td>
                        默认交易密码&nbsp;<input type="text" id="threePass" name="threePass" />&nbsp;&nbsp;
                    </td>
                </tr>

            </table>

            <table class="ntable">
                <tr>
                    <td colspan="2">
                        新会员注册后，其直推图上线2代会员可获得一定Gen，所得数量由上线会员所在代数决定：
                    </td>
                </tr>
                <tr>
                    <td>
                        上线会员所在代数
                    </td>
                    <td>
                        Gns数量/枚
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        &nbsp;<input type="text" id="zcsxsGen1" name="zcsxsGen1" />&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        &nbsp;<input type="text" id="zcsxsGen2" name="zcsxsGen2" />&nbsp;
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        该部分封顶值&nbsp;<input type="text" id="zcsxsGenfd" name="zcsxsGenfd" />&nbsp;
                    </td>
                </tr>
            </table>


        </div>
    </div>
    <div class="bigtitle">
        <h2>店铺开通</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        开店押金&nbsp;<input type="text" id="YaJ" name="YaJ">&nbsp;GNS
                    </td>
                </tr>
                <tr>
                    <td>年管理费&nbsp;<input type="text" id="GLF" name="GLF">&nbsp;GNS</td>
                </tr>
                <tr>
                    <td>商品管理费&nbsp;<input type="text" id="JYYaJ" name="JYYaJ">&nbsp;%</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="bigtitle">
        <h2>账户说明</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        1金牛=&nbsp;<input type="text" id="jnToRmb" name="jnToRmb">&nbsp;元人民币
                    </td>
                </tr>
                <tr>
                    <td> 买家进行：求购、买入操作时，每笔操作要扣除&nbsp;<input type="text" id="buyBzj" name="buyBzj">&nbsp;金牛进入保证金账户</td>
                </tr>
                <tr>
                    <td> 人民币/  Gns 汇率：1元人民币=&nbsp;<input type="text" id="rmbToGen" name="rmbToGen">&nbsp;/枚  Gns</td>
                </tr>
                <tr>
                    <td>
                        会员每天第一次登录可获赠 Gns通证：&nbsp;<input type="text" id="loginZsGen" name="loginZsGen">&nbsp;/枚；
                        登录所得 Gns封顶值：&nbsp;<input type="text" id="loginFdGen" name="loginFdGen">&nbsp;/枚
                    </td>
                </tr>
                <tr>
                    <td> 会员每买入1亩土地，卖家：确认收款后 可获赠 Gns通证：&nbsp;<input type="text" id="buyerTdQrskzsGen" name="buyerTdQrskzsGen">&nbsp;/枚</td>
                </tr>
                <tr>
                    <td> 会员每买入1亩土地，卖家：确认收款后 可获锁仓 Gns：&nbsp;<input type="text" id="sfscgns" name="sfscgns">&nbsp;/枚</td>   
                </tr>
                <tr>
                    <td>管家 每回购1亩土地，卖家：确认收款后 可获赠 Gns通证：&nbsp;<input type="text" id="gjTdQrskzsGen" name="gjTdQrskzsGen">&nbsp;/枚</td>
                </tr>
                <tr>
                    <td> Gns 兑换 金牛，1金牛=&nbsp;<input type="text" id="GenTojn" name="GenTojn">&nbsp;  Gns</td>
                </tr>
                <tr>
                    <td>金牛 转他人 金牛，金额=&nbsp;<input type="text" id="jnTojn" name="jnTojn">&nbsp; 金牛倍数</td>
                </tr>
                <tr>
                    <td> &nbsp;<input type="checkbox" id="chk_sfgnsKg" name="chk_sfgnsKg"><input type="hidden" class="form-control2" id="sfgnsKg" name="sfgnsKg">每天释放锁仓gns开关</td>
                </tr>
                <tr>
                    <td>自&nbsp;<input type="text" id="SfgnsRq" name="SfgnsRq">&nbsp;号起每天释放&nbsp;<input type="text" id="SfgnsSl" name="SfgnsSl">&nbsp;枚至：GNS账户</td>
                </tr>
                <tr>
                    <td>兑现收取&nbsp;<input type="text" id="txfee" name="txfee">&nbsp;%手续费，兑现数量须>=&nbsp;<input type="text" id="txmin" name="txmin">&nbsp;</td>
                </tr>
                <tr>
                    <td> &nbsp;<input type="checkbox" id="chk_takecashKg" name="chk_takecashKg"><input type="hidden" class="form-control2" id="takecashKg" name="takecashKg">兑现开关</td>
                </tr>
            </table>
            <table class="ntable">
                <tr>
                    <td valign="middle" style="width:10%"> &nbsp;<input type="checkbox" id="chk_GenTojnKg" name="chk_GenTojnKg"><input type="hidden" class="form-control2" id="GenTojnKg" name="GenTojnKg"></td>
                    <td valign="middle"> Gns兑换金牛(打勾为开)</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>土地价格</h2>
        <div class="clear"></div>
    </div>

    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        平台土地出售总量：&nbsp;<input type="text" id="TdptZcsl" name="TdptZcsl">&nbsp;/亩，每天由平台方出售的土地上限：&nbsp;<input type="text" id="Tdmtsx" name="Tdmtsx">&nbsp;/亩（注：不含前台会员出售的数量）
                    </td>
                </tr>
                <tr>
                    <td>
                        土地转让价由会员手动提交挂卖记录时手动填写，但转让价只能在：当天土地参考价 上下&nbsp;<input type="text" id="saleTdbdBili" name="saleTdbdBili">&nbsp;%范围内浮动
                    </td>
                </tr>
                <tr>
                    <td>
                        土地求购价由会员手动提交挂卖记录时手动填写，但求购价只能在：当天土地参考价 上下&nbsp;<input type="text" id="buyTdbdBili" name="buyTdbdBili">&nbsp;%范围内浮动
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="bigtitle">
        <h2>交易规则</h2>
        <div class="clear"></div>
    </div>

    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        GNS交易兑换，1金牛=&nbsp;<input type="text" id="jnzhgns" name="jnzhgns">&nbsp;GNS
                    </td>
                </tr>
                <tr>
                    <td>
                        GNS兑换金牛的数量大于&nbsp;<input type="text" id="gnspayjn" name="gnspayjn">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        买入土地亩数须大于&nbsp;<input type="text" id="gmtdms" name="gmtdms">&nbsp;亩
                    </td>
                </tr>
                <tr>
                    <td>
                        持有土地面值不能超过&nbsp;<input type="text" id="cytdzmz" name="cytdzmz">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        兑换金牛数目不能超过&nbsp;<input type="text" id="dhjn" name="dhjn">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        同一个会员连续&nbsp;<input type="text" id="jysaleTs" name="jysaleTs">&nbsp;天内最多只能出售：&nbsp;<input type="text" id="jysaleMs" name="jysaleMs">&nbsp;亩，平台所有会员累计出售数量上限：&nbsp;<input type="text" id="jysaleSx" name="jysaleSx">&nbsp;亩
                    </td>
                </tr>
                <tr>
                    <td>
                        同一个会员连续&nbsp;<input type="text" id="jybuyTs" name="jybuyTs">&nbsp;天内最多只能买入：&nbsp;<input type="text" id="jybuyMs" name="jybuyMs">&nbsp;亩，同一个会员买入土地上限：&nbsp;<input type="text" id="jybuySx" name="jybuySx">&nbsp;亩
                    </td>
                </tr>
                <tr>
                    <td>
                        （当前日期 - 购置日期）>=&nbsp;<input type="text" id="saleCyts" name="saleCyts">&nbsp;天，才能卖
                    </td>
                </tr>
                <tr>
                    <td>
                        成交额的&nbsp;<input type="text" id="saleFeeBili" name="saleFeeBili">&nbsp;%作为土地转让税沉淀在平台，余下的为会员净收益
                    </td>
                </tr>
                <tr>
                    <td>
                        Gns总额度：&nbsp;<input type="text" id="AllGen" name="AllGen">&nbsp;/枚
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="bigtitle">
        <h2>超时未付款处罚规则</h2>
        <div class="clear"></div>
    </div>

    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        认购土地后，须在&nbsp;<input type="text" id="payCssj" name="payCssj">&nbsp;小时内给卖家进行
                    </td>
                </tr>
                <tr>
                    <td>
                        第1次：从本笔交易的保证金中扣除：&nbsp;<input type="text" id="payCsKc1" name="payCsKc1">&nbsp;金牛
                    </td>
                </tr>
                <tr>
                    <td>
                        第2次：从本笔交易的保证金中扣除：&nbsp;<input type="text" id="payCsKc2" name="payCsKc2">&nbsp;金牛
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="bigtitle">
        <h2>收款方式</h2>
        <div class="clear"></div>
    </div>

    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td valign="middle" style="width:10%"> &nbsp;<input type="checkbox" id="chk_WxKg" name="chk_WxKg"><input type="hidden" class="form-control2" id="WxKg" name="WxKg"></td>
                    <td valign="middle">微信(打勾为开)</td>
                </tr>
                <tr>
                    <td valign="middle" style="width:10%"> &nbsp;<input type="checkbox" id="chk_ZfbKg" name="chk_ZfbKg"><input type="hidden" class="form-control2" id="ZfbKg" name="ZfbKg"></td>
                    <td valign="middle">支付宝(打勾为开)</td>
                </tr>
                <tr>
                    <td valign="middle" style="width:10%"> &nbsp;<input type="checkbox" id="chk_YhkKg" name="chk_YhkKg"><input type="hidden" class="form-control2" id="YhkKg" name="YhkKg"></td>
                    <td valign="middle">银行卡(打勾为开)</td>
                </tr>
                <tr>
                    <td valign="middle" style="width:10%"> &nbsp;<input type="checkbox" id="chk_EthKg" name="chk_EthKg"><input type="hidden" class="form-control2" id="EthKg" name="EthKg"></td>
                    <td valign="middle">ETH(打勾为开)</td>
                </tr>
                <tr>
                    <td valign="middle" style="width:10%"> &nbsp;<input type="checkbox" id="chk_UsdtKg" name="chk_UsdtKg"><input type="hidden" class="form-control2" id="UsdtKg" name="UsdtKg"></td>
                    <td valign="middle">USDT(打勾为开)</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="bigtitle">
        <h2>回购规则</h2>
        <div class="clear"></div>
    </div>

    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        会员挂卖的土地必须确保在&nbsp;<input type="text" id="Hgxss" name="Hgxss">&nbsp;小时内成交，即有买家买入，如果最后倒计时&nbsp;<input type="text" id="Hgdjs" name="Hgdjs">&nbsp;小时后，还没有卖出，则按以下步骤处理
                    </td>
                </tr>
                <tr>
                    <td>
                        每亩土地种植周期：&nbsp;<input type="text" id="ZZzqts" name="ZZzqts">&nbsp;天
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="bigtitle">
        <h2>农产品交易规则</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        每块地产出的农产品数量最多只能出售产量的&nbsp;<input type="text" id="salencpBili" name="salencpBili">&nbsp;%
                    </td>
                </tr>
                <tr>
                    <td>
                        出售农产品要扣卖方收益的&nbsp;<input type="text" id="salencpFeeBili" name="salencpFeeBili">&nbsp;%作为手续费
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="bigtitle">
        <h2>GNS交易规则</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        GNS最低购买数量&nbsp;<input type="text" id="gnsdh" name="gnsdh">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        每天GNS挂卖上限&nbsp;<input type="text" id="gmgnssx" name="gmgnssx">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        会员每隔&nbsp;<input type="text" id="gmgnsxs" name="gmgnsxs">&nbsp;小时才能挂卖一次GNS
                    </td>
                </tr>
                <tr>
                    <td>
                        每次挂卖GNS时，多扣本次挂卖数量的&nbsp;<input type="text" id="gmgnssc" name="gmgnssc">&nbsp;%用于锁仓，
                        锁仓期限&nbsp;<input type="text" id="scqx" name="scqx">&nbsp;天，自锁仓之日起，每天可获得本笔锁仓记录：
                        锁仓数量的&nbsp;<input type="text" id="sclx" name="sclx">&nbsp;%作为利息
                    </td>
                </tr>
                <tr>
                    <td>
                        锁仓释放时间&nbsp;<input type="text" id="scsfqx" name="scsfqx">&nbsp;天
                    </td>
                </tr>
                <tr>
                    <td>
                        GNS最低挂卖数量&nbsp;<input type="text" id="salenGnsMin" name="salenGnsMin">&nbsp;
                    </td>
                </tr>

                <tr>
                    <td> &nbsp;<input type="checkbox" id="chk_gjGnsFeeKg" name="chk_gjGnsFeeKg"><input type="hidden" class="form-control2" id="gjGnsFeeKg" name="gjGnsFeeKg">管家出售gns收手续费的开关</td>
                </tr>
                <tr>
                    <td>
                        同一个GNS钱包地址最多绑定&nbsp;<input type="text" id="GNSaddressGs" name="GNSaddressGs">&nbsp;个会员
                    </td>
                </tr>
                <tr>
                    <td> 卖家进行：卖出操作时，每笔操作要扣除&nbsp;<input type="text" id="saleBzj" name="saleBzj">&nbsp;金牛进入保证金账户</td>
                </tr>
            </table>

        </div>
    </div>



    <div class="bigtitle">
        <h2>工人类型</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>类型名称</th>
                        <th>价格</th>
                        <th>增加产量比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="middle">短工</td>
                        <td>
                            &nbsp;<input type="text" id="grjg1" name="grjg1">&nbsp;金牛/人；
                        </td>
                        <td>
                            每个短工可增加：品种每亩默认产量的&nbsp;<input type="text" id="grzjclBili1" name="grzjclBili1">&nbsp;%
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">长工</td>
                        <td>
                            &nbsp;<input type="text" id="grjg2" name="grjg2">&nbsp;金牛/人；
                        </td>
                        <td>
                            每个长工可增加：品种每亩默认产量的&nbsp;<input type="text" id="grzjclBili2" name="grzjclBili2">&nbsp;%
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            每&nbsp;<input type="text" id="grms" name="grms">&nbsp;亩地只能雇佣一个人工（无论是短工还是长工）
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>管家</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        自身累计直推人数>=&nbsp;<input type="text" id="shopZts" name="shopZts">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        自身持有的土地亩数>=&nbsp;<input type="text" id="shopTdms" name="shopTdms">&nbsp;亩
                    </td>
                </tr>
            </table>

        </div>
    </div>


    <div class="bigtitle">
        <h2>会员级别</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>级别名称</th>
                        <th>晋升条件</th>
                        <th>买入持有土地上限/亩</th>
                        <th>收获时可出售的农产品比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>雇农</td>
                        <td>
                            免费注册
                        </td>
                        <td>
                            &nbsp;<input type="text" class="form-control2" id="upUlevelTdsx1" name="upUlevelTdsx1">&nbsp;
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                    <tr>
                        <td>贫农</td>
                        <td>
                            1、	自身持有的土地亩数>=&nbsp;<input type="text" class="form-control2" id="upUlevelTdms2" name="upUlevelTdms2">&nbsp;亩；<br />
                            2、	最后一次降级时间点后新增的：
                            累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upUlevelZts2" name="upUlevelZts2">&nbsp;
                        </td>
                        <td>
                            &nbsp;<input type="text" class="form-control2" id="upUlevelTdsx2" name="upUlevelTdsx2">&nbsp;
                        </td>
                        <td>
                            地块产出数量的&nbsp;<input type="text" class="form-control2" id="upUlevelCsBili2" name="upUlevelCsBili2">&nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td>富农</td>
                        <td>
                            1、	自身持有的土地亩数>=&nbsp;<input type="text" class="form-control2" id="upUlevelTdms3" name="upUlevelTdms3">&nbsp;亩；<br />
                            2、	最后一次降级时间点后新增的：
                            累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upUlevelZts3" name="upUlevelZts3">&nbsp;
                        </td>
                        <td>
                            &nbsp;<input type="text" class="form-control2" id="upUlevelTdsx3" name="upUlevelTdsx3">&nbsp;
                        </td>
                        <td>
                            地块产出数量的&nbsp;<input type="text" class="form-control2" id="upUlevelCsBili3" name="upUlevelCsBili3">&nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td>地主</td>
                        <td>
                            1、	自身持有的土地亩数>=&nbsp;<input type="text" class="form-control2" id="upUlevelTdms4" name="upUlevelTdms4">&nbsp;亩；<br />
                            2、	最后一次降级时间点后新增的：
                            累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upUlevelZts4" name="upUlevelZts4">&nbsp;
                        </td>
                        <td>
                            &nbsp;<input type="text" class="form-control2" id="upUlevelTdsx4" name="upUlevelTdsx4">&nbsp;
                        </td>
                        <td>
                            地块产出数量的&nbsp;<input type="text" class="form-control2" id="upUlevelCsBili4" name="upUlevelCsBili4">&nbsp;
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>



    <div class="bigtitle">
        <h2>推荐收益</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>买家成功买入土地时，其直推图上线3代会员可获得 买入土地收益 的一定比例作为推荐奖,所有奖项获得Gen</td>
                </tr>
            </table>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>上线会员所在代数</th>
                        <th>所得比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <input type="text" class="form-control2" id="TjsyBili1" name="TjsyBili1">&nbsp;%；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <input type="text" class="form-control2" id="TjsyBili2" name="TjsyBili2">&nbsp;%；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <input type="text" class="form-control2" id="TjsyBili3" name="TjsyBili3">&nbsp;%；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            <input type="text" class="form-control2" id="TjsyBili4" name="TjsyBili4">&nbsp;%；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>>=5</td>
                        <td>
                            <input type="text" class="form-control2" id="TjsyBili5" name="TjsyBili5">&nbsp;%；<br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>管家收益</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        普通会员挂卖出售出来的土地超时未卖出，由管家来回购，管家每回购一亩地，可获得<input type="text" class="form-control2" id="Gjsy" name="Gjsy">Gen作为管家收益
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="bigtitle">
        <h2>种植收益</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>会员每次收割庄稼时，会员自身和其直推图上线4代会员可获得,所有奖项获得Gns</td>
                </tr>
            </table>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>上线会员所在代数</th>
                        <th>所得比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>会员自身</td>
                        <td><input type="text" class="form-control2" id="Zzsy0" name="Zzsy0">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><input type="text" class="form-control2" id="Zzsy1" name="Zzsy1">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><input type="text" class="form-control2" id="Zzsy2" name="Zzsy2">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><input type="text" class="form-control2" id="Zzsy3" name="Zzsy3">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><input type="text" class="form-control2" id="Zzsy4" name="Zzsy4">&nbsp;%；</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>农田补贴</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;margin-bottom:30px;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">

                        会员买入土地后，自成功买入之日起：每块地可连续拿<input type="text" class="form-control2" id="NtbtFdbs" name="NtbtFdbs">天农田补贴，每块地每天所得农田补贴按如下公式算出：
                        =这块地的亩数 * <input type="text" class="form-control2" id="NtbtBili" name="NtbtBili">%；




                    </td>
                </tr>

            </table>
        </div>
    </div>



    <div class="bigtitle">
        <h2>管家补贴</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>买家直推图上线会员根据自身社区级别不同，可获得买家会员土地成交金额的一定差额比例作为管家补贴Gns</td>
                </tr>
            </table>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>上线社区级别</th>
                        <th>所得比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>一级</td>
                        <td><input type="text" class="form-control2" id="GjbtBili3" name="GjbtBili3">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>二级</td>
                        <td><input type="text" class="form-control2" id="GjbtBili2" name="GjbtBili2">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>三级</td>
                        <td><input type="text" class="form-control2" id="GjbtBili1" name="GjbtBili1">&nbsp;%；</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="bigtitle">

        <div class="clear"></div>
    </div>


    <div class="replybox">
        <ul class="tga1">
            <li style="text-align:center;"><button class="bigbtn" style="width:90%;" id="saveParamBtn">保存参数</button></li>
        </ul>
    </div>
</div>

<style type="text/css">
    input {
        color: red;
        height: 3rem;
        width: 6rem;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }

    .ntable td {
        padding: 5px 5px 5px 5px;
        text-align: left;
    }

    tabel {
        border-spacing: 0;
        border-collapse: collapse;
    }

    table td {
        text-align: left;
    }

    table {
        max-width: 100%;
        background-color: transparent;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #808080;
        text-align: left;
    }

    th {
        text-align: left;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
    }

        .table th,
        .table td {
            padding: 8px;
            line-height: 1.53846154;
            vertical-align: top;
            border-bottom: 1px solid #ddd;
            -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            -o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            transition: background .2s cubic-bezier(.175, .885, .32, 1);
        }

        .table > thead > tr > th {
            vertical-align: bottom;
            background-color: #f1f1f1;
            border-bottom: 1px solid #ddd;
        }

        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }

    .table-fixed {
        table-layout: fixed;
    }

        .table-fixed th,
        .table-fixed td {
            overflow: hidden;
            white-space: nowrap;
        }

        .table-fixed tfoot > tr > th,
        .table-fixed tfoot > tr > td,
        .table-fixed .nofixed,
        .table-fixed .nofixed {
            overflow: visible;
        }

    .table-borderless thead > tr > th,
    .table-borderless th,
    .table-borderless td {
        border: none;
    }

    .table-auto {
        width: auto;
        max-width: 100%;
    }

    .table-condensed th,
    .table-condensed td {
        padding: 5px;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #ddd;
        }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: #ebf2f9;
    }

    table col[class*="col-"] {
        display: table-column;
        float: none;
    }

    table td[class*="col-"],
    table th[class*="col-"] {
        display: table-cell;
        float: none;
    }

    .table tr > td.active,
    .table tr > th.active,
    .table tr.active > td,
    .table tr.active > th {
        background-color: #ffe7bc;
    }

    .table > thead > tr > td.success,
    .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success,
    .table > thead > tr > th.success,
    .table > tbody > tr > th.success,
    .table > tfoot > tr > th.success,
    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
        background-color: #ddf4df;
        border-color: #bae8b6;
    }

    .table-hover > tbody > tr > td.success:hover,
    .table-hover > tbody > tr > th.success:hover,
    .table-hover > tbody > tr.success:hover > td,
    .table-hover > tbody > tr.success:hover > th {
        background-color: #caeecd;
        border-color: #a8e1a3;
    }

    .table > thead > tr > td.danger,
    .table > tbody > tr > td.danger,
    .table > tfoot > tr > td.danger,
    .table > thead > tr > th.danger,
    .table > tbody > tr > th.danger,
    .table > tfoot > tr > th.danger,
    .table > thead > tr.danger > td,
    .table > tbody > tr.danger > td,
    .table > tfoot > tr.danger > td,
    .table > thead > tr.danger > th,
    .table > tbody > tr.danger > th,
    .table > tfoot > tr.danger > th {
        background-color: #ffe5e0;
        border-color: #ffc6c7;
    }

    .table-hover > tbody > tr > td.danger:hover,
    .table-hover > tbody > tr > th.danger:hover,
    .table-hover > tbody > tr.danger:hover > td,
    .table-hover > tbody > tr.danger:hover > th {
        background-color: #ffd0c6;
        border-color: #ffadad;
    }

    .table > thead > tr > td.warning,
    .table > tbody > tr > td.warning,
    .table > tfoot > tr > td.warning,
    .table > thead > tr > th.warning,
    .table > tbody > tr > th.warning,
    .table > tfoot > tr > th.warning,
    .table > thead > tr.warning > td,
    .table > tbody > tr.warning > td,
    .table > tfoot > tr.warning > td,
    .table > thead > tr.warning > th,
    .table > tbody > tr.warning > th,
    .table > tfoot > tr.warning > th {
        background-color: #fff0d5;
        border-color: #ffdcbc;
    }

    .table-hover > tbody > tr > td.warning:hover,
    .table-hover > tbody > tr > th.warning:hover,
    .table-hover > tbody > tr.warning:hover > td,
    .table-hover > tbody > tr.warning:hover > th {
        background-color: #ffe7bc;
        border-color: #ffcea2;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    @media screen and (max-width: 767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
        }

            .table-responsive > .table {
                margin-bottom: 0;
            }

                .table-responsive > .table > thead > tr > th,
                .table-responsive > .table > tbody > tr > th,
                .table-responsive > .table > tfoot > tr > th,
                .table-responsive > .table > thead > tr > td,
                .table-responsive > .table > tbody > tr > td,
                .table-responsive > .table > tfoot > tr > td {
                    white-space: nowrap;
                }

            .table-responsive > .table-bordered {
                border: 0;
            }

                .table-responsive > .table-bordered th {
                    border-top: none;
                }

                .table-responsive > .table-bordered > thead > tr > th:first-child,
                .table-responsive > .table-bordered > tbody > tr > th:first-child,
                .table-responsive > .table-bordered > tfoot > tr > th:first-child,
                .table-responsive > .table-bordered > thead > tr > td:first-child,
                .table-responsive > .table-bordered > tbody > tr > td:first-child,
                .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                    border-left: 0;
                }

                .table-responsive > .table-bordered > thead > tr > th:last-child,
                .table-responsive > .table-bordered > tbody > tr > th:last-child,
                .table-responsive > .table-bordered > tfoot > tr > th:last-child,
                .table-responsive > .table-bordered > thead > tr > td:last-child,
                .table-responsive > .table-bordered > tbody > tr > td:last-child,
                .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                    border-right: 0;
                }

                .table-responsive > .table-bordered > tbody > tr:last-child > th,
                .table-responsive > .table-bordered > tfoot > tr:last-child > th,
                .table-responsive > .table-bordered > tbody > tr:last-child > td,
                .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                    border-bottom: 0;
                }
    }
</style>

