<div class="promptbox" id="agent2" >
    <div class="promptcont">
        <div class="prompticon">
            <i class="fa fa-lock"></i>
        </div>
        <div class="loginenter" style="padding:0rem;">
            <div class="logintext" style="width:100%;">
                <dl>
                    <dt></dt>
                    <dd>

                        <span class="erase" style="display:none;"><img src="/Content/APP/User/images/btncloseg.png" /></span>
                        <input type="password" class="entertxt" placeholder="请输入安全密码" id="password" 
                               style="width: 100%;color:#000; background-color: #fff; border: solid 0.1rem #ddd;font-size:1.4rem; " />


                    </dd>
                </dl>
            </div>
            <div class="btnbox">
                <ul class="tga1">
                    <li><button class="bigbtn" style="width:100%;" id="sureBtn">确定</button></li>
                </ul>
                <div class="clear"></div>
            </div>
          

        </div>
        
    </div>
</div>
