﻿

<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="hidden" id="cat" name="cat" />
                        <input type="text" class="searchtext searchtexth" id="catName" placeholder="奖金类型" readonly style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>

    </div>

    <div class="datalist" id="UCurrencyUserDetailDataList">
        <ul id="UCurrencyUserDetailItemList"></ul>
    </div>
</div>



