﻿

<div id="detailTab2" >
    <div class="operating" style="display:none;">
        <div class="searchbox">
            <div class="entryinfo">
                <dl>
                    <dt>工人类型</dt>
                    <dd>
                        <input type="text" class="searchtext" placeholder="工人类型" id="sgrType" value="全部" readonly />
                        <input type="hidden" id="tdid" />
                    </dd>
                </dl>
            </div>
            <table>
                <tr>
                    <td style="width:32%"><input type="text" class="searchtext" style="width:100%;" placeholder="开始日期" id="startTime" /></td>
                    <td align="center">至</td>
                    <td style="width:32%"><input type="text" class="searchtext" style="width: 100%;" placeholder="结束日期" id="endTime" /></td>
                    <td style="width:18%"><button class="operatebtn" id="searchBtn" style="width:100%">搜索</button></td>
                    <td style="width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:100%">清除</button></td>
                </tr>
            </table>
        </div>

    </div>
    <div class="datalist" id="UGr_Datalist">
        <ul id="UGr_ItemList"></ul>
    </div>
</div>