﻿<div class="maintag">
    <ul class="tga2">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">我要求购</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">求购记录</a></li>
    </ul>
</div>

<input type="hidden" id="ethRMB" />
<div id="detailTab1">
    <div class="entryinfo">
        <div class="userdltl">提示：求购价格只能在参考价上下<span id="buyTdbdBili">5</span>%范围内浮动</div>
        <dl>
            <dt>价格</dt>
            <dd>
                <p id="tdPrice" style="color:black;"></p>
            </dd>
        </dl>
      
        <dl>
            <dt>求购数量</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="" id="totalNum" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <dl>
            <dt>求购价格</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="以金牛为单位" id="price" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <div class="btnbox">
            <button class="smallbtn" id="saveBtn">提交</button>
        </div>

    </div>

 


   
</div>
<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>详情</h2>
            </div>
            <div class="clear"></div>
        </header>
      
        <div class="btnbox">
            <button class="smallbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>

<div id="detailTab2" style="display:none;">
    <div class="operating">
        <div class="searchbox">
            <table>
                <tr>
                    <td style="width:32%"><input type="text" class="searchtext" style="width:100%;" placeholder="开始日期" id="startTime" /></td>
                    <td align="center">至</td>
                    <td style="width:32%"><input type="text" class="searchtext" style="width: 100%;" placeholder="结束日期" id="endTime" /></td>
                    <td style="width:18%"><button class="operatebtn" id="searchBtn" style="width:100%">搜索</button></td>
                    <td style="width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:100%">清除</button></td>
                </tr>
            </table>
        </div>
     
    </div>
    <div class="datalist" id="UTdAdd_Datalist">
        <ul id="UTdAdd_ItemList"></ul>
    </div>
</div>