﻿<div class="maintag">
    <ul class="tga2">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">雇佣工人</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">用工明细</a></li>
    </ul>
</div>

<input type="hidden" id="ethRMB" />
<div id="detailTab1">
    <div class="entryinfo">
        <div class="userdltl">短工<span id="grjg1">5</span>金牛/人每亩可增产<span id="grzjclBili1">5</span>%</div>
        <div class="userdltl">长工<span id="grjg2">5</span>金牛/人每亩可增产<span id="grzjclBili2">5</span>%</div>
        <dl>
            <dt>地块编号</dt>
            <dd>
                <input type="hidden" id="tdid" value="0" />
                <input type="text" class="searchtext" placeholder="地块编号" id="tdNo" readonly />
            </dd>
        </dl>
        <dl>
            <dt>种植次序</dt>
            <dd>
                <p id="zzjlsort" style="color:black;"></p>
                <input type="hidden" id="zzjlid" value="0" />
            </dd>
        </dl>
        <dl>
            <dt>工人类型</dt>
            <dd>
                <input type="text" class="searchtext" placeholder="工人类型" id="grType" value="短工" readonly />
            </dd>
        </dl>
        <dl>
            <dt>雇佣人数</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="雇佣人数" id="grRs" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>支付金牛</dt>
            <dd>
                <p id="zfJn" style="color:black;"></p>
            </dd>
        </dl>
      
        <div class="btnbox">
            <button class="smallbtn" id="saveBtn">提交</button>
        </div>

    </div>

 


   
</div>
<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>详情</h2>
            </div>
            <div class="clear"></div>
        </header>
      
        <div class="btnbox">
            <button class="smallbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>

<div id="detailTab2" style="display:none;">
    <div class="operating">
        <div class="searchbox">
            <div class="entryinfo">
                <dl>
                    <dt>工人类型</dt>
                    <dd>
                        <input type="text" class="searchtext" placeholder="工人类型" id="sgrType" value="全部" readonly />
                    </dd>
                </dl>
            </div>
            <table>
                <tr>
                    <td style="width:32%"><input type="text" class="searchtext" style="width:100%;" placeholder="开始日期" id="startTime" /></td>
                    <td align="center">至</td>
                    <td style="width:32%"><input type="text" class="searchtext" style="width: 100%;" placeholder="结束日期" id="endTime" /></td>
                    <td style="width:18%"><button class="operatebtn" id="searchBtn" style="width:100%">搜索</button></td>
                    <td style="width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:100%">清除</button></td>
                </tr>
            </table>
        </div>
     
    </div>
    <div class="datalist" id="UGr_Datalist">
        <ul id="UGr_ItemList"></ul>
    </div>
</div>