﻿
<div class="stipsbox" >
    <p>
        土地恒量为<span id="TdptZcsl">0</span>亩，当前仅剩<span id="ptgmsyl">0</span>亩
        <div style="display:none;">，当日挂卖剩余<span id="drgmsyl">0</span>亩</div>
    </p>
    <div class="clear"></div>
</div>
<div class="maintag">
    <ul class="tga1" id="ulTab">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">我要买</a></li>
        <li id="tabBtn2" style="display:none;"><a href="javascript:tabClick(2);" id="tabA2">我要卖</a></li>
        <li id="tabBtn3" style="display:none;"><a href="javascript:tabClick(3);" id="tabA3">待回购</a></li>
    </ul>
</div>

<div class="stipsbox">

   

    <p style="display:none;">土地出售收取：卖方<span id="saleFeeBili">5</span>%土地税 </p>
    <input type="hidden" id="ismyteam" value="no" />
    <input type="hidden" id="isAgent" value="no" />
     <span style="margin-left:30px;" id="CkDetail"><a href="#UTdMyBuyList">买入明细</a></span>
    <!--<a href="javascript:myteam();" id="myteamBtn">我的客户</a>-->
    <div class="clear"></div>
</div>

<div id="detailTab1">
    <div class="marketlist" id="iwantBuy_Datalist">
        <ul id="iwantBuy_ItemList"></ul>
    </div>
</div>


<div id="detailTab2" style="display:none;">
    <div class="marketlist" id="iwantSale_Datalist">
        <ul id="iwantSale_ItemList"></ul>
    </div>
</div>

<div id="detailTab3" style="display:none;">
    <div class="marketlist" id="dHg_Datalist">
        <ul id="dHg_ItemList"></ul>
    </div>
</div>


<!--确认提示框-->
<div class="promptbg" style="z-index: 9000; color: #fff;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont" style="padding:30px; margin-bottom:0; ">
        </div>

        <div class="entryinfo" id="prompContiwantSale" style="padding:30px; margin-bottom:0; ">
            <dl>
                <dt>地块编号</dt>
                <dd>
                    <input type="hidden" id="tdid" value="0" />
                    <input type="text" class="searchtext" placeholder="地块编号" id="tdNo" readonly />
                </dd>
            </dl>
            <dl>
                <dt>持有亩数</dt>
                <dd>
                    <p id="cyNum" style="color:black;"></p>
                </dd>
            </dl>
            <dl>
                <dt>出售数量</dt>
                <dd>
                    <input type="text" required="required" class="entrytxt" placeholder="以亩为单位" id="numSale" />
                    
                </dd>
            </dl>
            <dl><dt>应付金牛</dt><dd><p id="yfjeSale" style="color:black;"></p></dd></dl>
            <input type="hidden" id="priceSale" />
        </div>
        <div class="btnbox" style="padding:30px;display:block;">
            <button class="smallbtn" id="sureBtn">充值</button>
        </div>
    </div>
</div>