<div class="">
    <div class="center-block tipsbox">

        <div class="tipscontbox">
            <div class="tipsiconbox">
                <i class="icon icon-lock"></i>
            </div>
            <h2 class="text-left">您访问的页面需要输入安全密码。</h2><br />

            <div class="input-group">
                <span class="input-group-addon">安全密码</span>
                <input type="password" id="password" class="form-control" placeholder="安全密码"> 
            </div>
            <br />
            <button class="btn btn-block btn-warning" type="button" id="sureBtn">确 定</button>
            <br />

        </div>
    </div>
</div>